@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

yuva-page-feedback,
yuva-page-questions {
  margin-block: 2rem;
  --yuva-accent: var(--color-fd-primary) !important;
  --yuva-on-accent: var(--color-fd-primary-foreground) !important;
  --yuva-border: var(--color-fd-border);
}
